.venv
.env
__pycache__ 
ngrok.yaml

__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and temp files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.tmp
*.swp
dev.db